* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    header {
        width: 100%;
        height: 60px;
        background: pink;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        box-sizing: border-box;
        a {
            color: #fff;
            font-size: 20px;
            i {
                font-size: 26px;
            }
            &:nth-of-type(1) {
                flex-basis: 50px;
            }
        }
    }
}

.footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background: skyblue;
    a {
        text-align: center;
        flex: 1;
        color: #fff;
    }
}