* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.footer {
  width: 100%;
  height: 50px;
  background: skyblue;
  display: flex;
  align-items: center;
}

.footer a {
  flex: 1;
  text-align: center;
  color: #fff;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: .32%;
}

html {
  font-size: .64rem;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body,
html {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
}

.banner {
  width: 100%;
  height: auto;
}

.banner div {
  width: 100%;
  height: 300px;
}

.banner div div {
  width: 100%;
  height: 100%;
}
