* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
}

.banner {
    width: 100%;
    height: auto;
    div {
        width: 100%;
        height: 300px;
        div {
            width: 100%;
            height: 100%;
        }
    }
}